@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  background: white;
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  transition: left 0.3s ease-in-out;
}

.wrapper > h5 > button {
  color: $grey-200;
  margin-left: 0.25rem;
}

.wrapper > ul {
  overflow-y: auto;
  height: 7rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.images > li {
  margin-right: 0.375rem;
  margin-bottom: 0.375rem;
}

.header,
.footer {
  display: none;
}

.header {
  margin-bottom: 1.5rem;
}

.header > h3 {
  color: black;
  display: none;
  font-size: 1.75rem;
  text-align: center;
}

.backArrow {
  position: absolute;
  left: 1rem;
  top: 1.4375rem;
}

.button {
  composes: btn from global;
  margin: 0.75rem auto;
}

.back {
  color: $grey-600;
  font-size: 1.125rem;
  font-weight: 600;
}

.back > i {
  margin-right: 0.5rem;
}

.isShowing {
  left: 0;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding: 1rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    z-index: 90;
  }

  .wrapper > ul {
    height: auto;
    overflow-y: visible;
  }

  .header {
    display: block;
  }

  .footer {
    display: block;
    background: white;
    border-top: 1px solid $grey-200;
    position: fixed;
    left: 100%;
    bottom: 0;
    width: 100%;
    z-index: 100;
    transition: left 0.3s ease-in-out;
  }

  .button {
    margin: 0.75rem auto;
  }

  .back {
    display: none;
  }

  .isShowing,
  .isShowing .footer {
    left: 0;
  }
}
