@import "~variables.scss";
@import "~tools.scss";

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 1rem;
}

.buttons {
  display: flex;
}

.button {
  composes: btn from global;
  margin-right: rem(14);
  min-width: 9rem;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    align-items: flex-start;
    flex-direction: column;
  }

  .list {
    margin-bottom: 1.5rem;
  }
}
