@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}

.wrapper > ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 1rem;
}

.button {
  composes: btn from global;
  min-width: 9rem;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    align-items: flex-start;
    flex-direction: column;
  }

  .wrapper > ul {
    margin-bottom: 1.5rem;
  }
}
