@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  align-items: center;
  background-color: white;
  color: $grey-600;
  display: flex;
  font-size: rem(13);
  line-height: rem(18);
  justify-content: space-between;
  margin-bottom: rem(10);
  padding: rem(10) rem(14);

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.info {
  > h4 {
    color: black;
    font-size: rem(18);
    line-height: rem(24);
    margin: 0;
  }

  > p {
    margin: 0;
  }
}

.years {
  display: flex;
}

@include mq("tablet-portrait") {
  .wrapper {
    align-items: flex-start;
    height: rem(150);
    margin-bottom: rem(30);
    padding: rem(17) rem(14);
  }

  .info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: rem(10);
  }

  .years {
    align-items: flex-end;
    height: 100%;
  }
}
