@import '../../../variables';
@import '../../../tools';

.wrapper {
  background-color: $grey-100;
  padding: rem(20) rem(16) rem(42) rem(16);

  > h3 {
    font-size: rem(15);
    font-weight: 600;
    line-height: rem(24);
    margin-bottom: rem(17);
  }
}
