@import '../../../variables';
@import '../../../tools';

.wrapper {
  align-items: center;
  border-radius: rem(4);
  color: white;
  display: flex;
  justify-content: center;
  font-size: rem(11);
  line-height: rem(18);
  margin: rem(1);
  width: rem(34);
  height: rem(34);
}
