.footer {
  align-items: center;
  background: #6a6a6a;
  color: white;
  display: flex;
  justify-content: center;
  padding: 3.75rem;
}

.footer > img {
  margin: 0 3.75rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer > img {
    margin: 2rem 0;
  }
}
