.wrapper {
  background: #6a6a6a;
  color: white;
  text-align: center;
}

.logos {
  align-items: center;
  border-bottom: 1px solid #828282;
  display: flex;
  justify-content: center;
  padding: 3.75rem;
  max-height: 9rem;
}

.logos > img {
  margin: 0 3.75rem;
  height: 6rem;
  width: auto;
}

.license {
  composes: container from global;
  font-size: 0.75rem;
  line-height: 1.125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.5rem;
}

.license > a {
  display: inline-block;
  margin-bottom: 0.8125rem;
}

.license a {
  color: white;
  font-weight: bold;
}

.license a:hover {
  color: white;
}

@media only screen and (max-width: 768px) {
  .logos {
    flex-direction: column;
  }

  .logos > img {
    margin: 2rem 0;
  }
}

@media only print {
  .logos {
    display: none;
  }
}
