@import "~variables.scss";
@import "~tools.scss";

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-y: auto;
}

.list {
  composes: container from global;
  padding-top: rem(15);
  padding-bottom: rem(15);
}
