.wrapper {
  border: 1px solid #e0e0e0;
  border-radius: 3rem;
  color: #6a6a6a;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-right: 0.375rem;
  margin-bottom: 0.375rem;
  padding: 0.375rem 1rem;
}

.wrapper:hover {
  border-color: #6a6a6a;
}

.isActive {
  border: 0;
  color: white;
}
