.wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.wrapper > div {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.wrapper h4 {
  color: #252525;
  font-size: 1.3125rem;
  margin-top: 1.6875rem;
  margin-bottom: 0.8125rem;
}

.wrapper h5 {
  color: black;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.wrapper ul {
  list-style: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.warning {
  align-items: flex-start;
  color: #6a6a6a;
  display: flex;
  font-size: 0.8125rem;
  margin-top: 1.5rem;
}

.warning > img {
  color: #e0e0e0;
  font-size: 1rem;
  margin-right: 0.3125rem;
}

.categories {
  position: relative;
}

.button {
  composes: btn from global;
  margin-bottom: 1.875rem;
}

.close {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    background-color: white;
    height: auto !important;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
  }
}
