.wrapper {
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  color: #6a6a6a;
  font-size: 1.875rem;
  margin-right: 0.5625rem;
  padding: 0.75rem 1.125rem;
}

.wrapper:hover {
  border-color: #6a6a6a;
}

.isActive {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
  font-weight: 600;
}
