@import "~variables.scss";
@import "~tools.scss";

.wrapper {
  flex-grow: 10;
}

.header {
  composes: container from global;
  font-size: 1.125rem;
  padding-top: 2.25rem;
  padding-bottom: 2.4375rem;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    line-height: 2.25rem;
    margin-bottom: 1.1875rem;
  }

  p {
    margin-bottom: 0;
  }
}

.list {
  composes: col-md-8 from global;
  composes: offset-md-2 from global;
  margin-bottom: 0;
}

.footer {
  composes: container from global;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-top: 1.75rem;
    padding-bottom: 1.875rem;

    h1 {
      font-size: 2.125rem;
    }
  }
}
