.wrapper {
  
}

.header {
  composes: container from global;
  padding-top: 2.25rem;
  padding-bottom: 2.4375rem;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 1.1875rem;
}

.header p {
  font-size: 1.125rem;
}

.list {
  composes: row from global;
  list-style: none;
}

.footer {
  composes: container from global;
  padding-top: 1.25rem;
  padding-bottom: 1.875rem;
  text-align: center;
}

.button {
  composes: btn from global;
  display: inline-block !important;
}
