.wrapper {
  color: #6a6a6a;
  display: flex;
  font-size: 0.9375rem;

  h2 {
    color: black;
    font-size: 1.125rem;
    font-weight: 600;
  }
}

.content {
  padding-top: 3.75rem;
  position: relative;
  text-align: right;
  left: -14%;
  width: 43%;

  .wrapper:last-child > & {
    padding-bottom: 2.875rem;
  }

  .isToRight & {
    left: 43%;
    text-align: left;
  }
}

.middle {
  padding-top: 2.5rem;
  position: relative;
  text-align: center;
  left: 43%;
  width: 14%;

  > .line {
    border-left: 1px solid #e0e0e0;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -10;
  }
}

.soon {
  background: #e0e0e0;
  border-radius: 3rem;
  color: white;
  display: inline-block;
  margin-bottom: 0.625rem;
  padding: 0.3125rem 0.875rem;
}

@media only screen and (max-width: 768px) {
  .content {
    position: static;
    text-align: left;
    width: auto;
  }

  .middle {
    left: 0;
    margin-right: 1.1875rem;
    width: auto;
  }
}
