@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  background-color: $grey-100;
  flex: 1;
  overflow-y: scroll;
  padding: rem(19) rem(16);

  > h3 {
    font-size: rem(15);
    font-weight: 600;
    line-height: rem(24);
    margin-bottom: rem(20);
  }
}

.rowTitle {
  margin-bottom: rem(17);

  > h3 {
    font-size: rem(15);
    font-weight: 600;
    line-height: rem(24);
    margin: 0;
  }

  > a {
    display: none;
  }
}

@include mq("tablet-portrait") {
  .rowTitle {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(20);

    > a {
      display: block;
    }
  }

  .rowBelow {
    display: none;
  }
}
