.wrapper {
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  color: #6a6a6a;
  display: inline-block;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

.wrapper.isColored {
  border: 0; 
  color: white;
}
