.wrapper {
  align-items: flex-start;
  border-top: 1px solid #e0e0e0;
  color: #6a6a6a;
  display: flex;
  font-size: 0.9375rem;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
  text-align: left;
}

.wrapper:first-child:not(.hasBorder) {
  border-top: 0;
}

.wrapper.hasBorder {
  margin-bottom: 0.875rem;
}

.wrapper.hasBorder:last-child {
  border-bottom: 1px solid #e0e0e0;
}

.wrapper div:first-child {
  margin-bottom: 0;
}

.description {
  flex-grow: 10;
  margin: 0.5rem 1.375rem 0 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s ease-in-out;
  white-space: nowrap;
}

.isExpanded .description {
  white-space: normal;
}

.related {
  color: #6a6a6a;
  display: block;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 0.8125rem;
}

.related > img {
  margin-left: 0.5rem;
}

.toggler {
  cursor: pointer;
  margin-top: 0.5rem;
}
