@import '../../variables';
@import '../../tools';

.wrapper {
  margin-bottom: rem(16);
  padding: rem(16);
  position: relative;
  text-align: center;

  h1 {
    color: black;
    font-size: rem(28);
    line-height: rem(36);
  }
}

.back {
  position: absolute;
  left: rem(16);
  top: rem(24);
}

.close {
  position: absolute;
  right: rem(16);
  top: rem(24);
}
