@import '../../variables';
@import '../../tools';

.wrapper {
  background: white;
  border-top: 1px solid $grey-200;
  display: flex;
  justify-content: center;
  padding: rem(12);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 80;
}

.button {
  composes: btn from global;
}
