@import "~variables.scss";
@import "~tools.scss";

.wrapper {
  background: white;
  height: 100%;
}

@include mq("tablet-landscape") {
  .overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 130;
  }

  .wrapper {
    border-radius: rem(4);
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 80vh;
    min-width: rem(730);
    overflow: hidden;

    &.isSmall {
      min-width: rem(540);
    }
  }
}
