@import "~variables.scss";
@import "~tools.scss";

:global(.fullModal) {
  background: white;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 110;
}

:global(.enter) {
  bottom: 100%;
  animation: animMask 0.5s ease-in-out forwards;

  :global(.fullModalHeader) {
    opacity: 0;
    animation: animOpacity 0.5s 0.25s ease-in-out forwards;
  }

  :global(.fullModalContents) {
    opacity: 0;
    animation: animOpacity 0.5s 0.5s ease-in-out forwards;
  }
}

:global(.entered) {
}

@keyframes animMask {
  from {
    top: 25%;
    bottom: 100%;
  }
  to {
    top: 0;
    bottom: 0;
  }
}

@keyframes animOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
