@import '~variables.scss';
@import '~tools.scss';

.header {
  p {
    color: $grey-500;
    font-size: rem(15);
    margin-bottom: rem(4);
  }

  h1 {
    font-size: rem(24);
    line-height: rem(33);
    margin-bottom: rem(12);
  }
}

.info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: rem(15);
  padding-right: rem(15);
}

.btnInfo {
  composes: btn from global;
  margin: 0 rem(15) rem(40) rem(15);
}

.btnPrint {
  composes: btn from global;
  display: none;
}

.title {
  color: $grey-200;
  font-weight: 600;
  margin-bottom: 0.8125rem;

  > button {
    color: $grey-200;
    margin-left: 0.25rem;
  }
}

.description {
  composes: col-md-8 from global;
  composes: offset-md-2 from global;
  composes: quill-text from global;
  margin-left: 0;
  margin-right: 0;
}

.arrows {
  composes: container from global;
  display: flex;
  justify-content: space-between;
}

.next,
.prev {
  color: #6a6a6a;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;

  > img {
    border: 1px solid #e0e0e0;
    border-radius: 3rem;
    line-height: 3rem;
    padding: 0.9375rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
  }
}

.next > img {
  margin-left: 0.4375rem;
}

.prev > img {
  margin-right: 0.4375rem;
}

.footer {
  composes: container from global;
  text-align: center;
}

.back {
  composes: btn from global;
  display: inline-block;
  margin: 1.875rem auto;
}

@include mq("tablet-portrait") {
  .btnPrint {
    display: flex;
  }

  .description {
    margin-top: 2.1875rem;
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .next,
  .prev {
    font-size: 1.125rem;
  }
}

@media only print {
  .arrows,
  .footer {
    display: none;
  }
}
