@import '~variables.scss';
@import '~tools.scss';

:global(.sticky-inner-wrapper) {
  z-index: 100;

  :global(.active) & {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

.wrapper {
  align-items: center;
  background: white;
  display: flex;
  justify-content: flex-start;
  padding: rem(15);

  div {
    padding: rem(10);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 80px - 48px);
  }

  p {
    color: $grey-500;
    font-size: rem(11);
    margin: 0;
  }

  h1 {
    display: inline-block;
    font-size: rem(16);
    margin: 0;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.image {
  object-fit: cover;
  width: rem(60);
  height: rem(42);
}

.btn {
  align-items: center;
  color: $grey-600;
  display: flex;
  flex-direction: column;
  font-size: rem(12);
  justify-content: center;
  margin-left: auto;
  min-width: rem(36);

  > img {
    margin-bottom: rem(4);
  }
}
