@import "~variables.scss";
@import "~tools.scss";

.wrapper {
  align-items: flex-end;
  display: flex;
  margin-bottom: rem(40);
  
  > img {
    margin-bottom: rem(5);
    margin-right: rem(15);
  }
}

.field {
  min-width: rem(320) !important;
}

@include mq("tablet-landscape") {
  .wrapper {
    margin-bottom: 0;
  }
}
