@import "~variables.scss";
@import "~tools.scss";

.wrapper {
  align-items: flex-end;
  display: flex;
  margin-bottom: rem(40);
  min-width: rem(320);
}

@include mq("tablet-landscape") {
  .wrapper {
    margin-bottom: 0;
  }
}
