@import "~variables.scss";
@import "~tools.scss";

.wrapper {
  align-items: flex-end;
  display: flex;
  margin-bottom: rem(40);
  width: 100%;
  
  @include mq("tablet-landscape") {
    margin-bottom: 0;
    min-width: rem(320);
    width: auto;
  }
}
