@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  background: #fff;
  border-radius: rem(4);
  margin-top: rem(32);
  overflow: hidden;
  text-align: left;
}

.image,
.initials {
  width: 100%;
  height: 11rem;
}

.image > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.initials {
  align-items: center;
  background: $grey-300;
  color: $grey-600;
  display: flex;
  font-size: 5rem;
  font-weight: 600;
  justify-content: center;
}

.component {
  color: $grey-600;
  font-size: 0.9375rem;
  font-weight: 600;
  margin: 1rem 1.5625rem 0.625rem 1.5625rem;

  > em {
    border-right: 1px solid $grey-200;
    font-style: normal;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
  }
}

.title {
  color: $grey-800;
  font-size: 1.3125rem;
  font-weight: bold;
  height: 3.15rem;
  line-height: 1.2;
  margin: 0 1.5625rem 1rem 1.5625rem;
  overflow: hidden;

  a {
    color: $grey-800;
  }
}

.infos {
  border-top: 1px solid $grey-200;
  display: flex;
  padding: 0.75rem 1.5625rem;
  justify-content: space-between;
}

.number {
  font-size: 1.1875rem;
  font-weight: 600;
}

.label {
  color: $grey-600;
  font-size: 0.875rem;
}

.expand {
  align-items: center;
  border-top: 1px solid $grey-200;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

@include mq('tablet-portrait') {
  .wrapper {
    margin-top: rem(16);
    margin-bottom: rem(16);
  }
}
