.mask {
  margin: 1rem 0 0 -15px;
  overflow: hidden;
  position: absolute;
  width: 0;
  left: 100%;
  top: 0;
  z-index: 90;
  transition: left 0.3s ease-in-out,
              width 0.3s ease-in-out,
              z-index 0.3s ease-in-out;
}

.wrapper {
  background: white;
  border-radius: 0.25rem;
  color: #6a6a6a;
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  position: absolute;
  text-align: left;
  width: 100%;
  left: 0;
  top: 0;
}

.isLeftAligned {
  left: 0;
  margin-left: 15px;
  z-index: 80;
}

.wrapper ul {
  margin-bottom: 1rem;
}

.scroll {
  overflow-y: scroll;
  padding: 0.875rem;
  width: 100%;
}

.title {
  color: #252525;
  margin-bottom: 0.8125rem;
}

.title > button {
  color: #e0e0e0;
  margin-left: 0.25rem;
}

.access {
  border-top: 1px solid #e0e0e0;
  color: black;
  font-weight: bold;
  height: 3.2875rem;
  line-height: 3.2875rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.isExpanded {
  border-left: 1px solid #e0e0e0;
  width: 100%;
  z-index: 100;
}

.isExpanded.isLeftAligned {
  border-left: 0;
  border-right: 1px solid #e0e0e0;
  left: -100%;
}

@media only screen and (max-width: 768px) {
  .mask {
    background: white;
    margin: -1rem 0 0 0;
    position: static;
    width: auto;
    height: 0;
    transition: height 0.3s ease-in-out;
  }

  .wrapper {
    display: block;
    position: static;
  }

  .isExpanded {
    border-left: 0;
    border-right: 0;
    height: auto;
  }

  .scroll {
    border-top: 1px solid #e0e0e0;
    overflow-y: visible;
  }

  .access {
    display: block;
    width: 100%;
  }
}
