.wrapper {
  background: white;
  border-left: 1px solid #e0e0e0;
  color: #6a6a6a;
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin: 1rem 0 0 -15px;
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  z-index: 9;
  transition: visibility 0.3s ease-in-out, height 0.3s ease-in-out;
}

.wrapper.is-left-aligned {
  left: -100%;
  margin-left: 1rem;
}

.wrapper ul {
  margin-bottom: 1rem;
}

.scroll {
  overflow-y: scroll;
  padding: 0.875rem;
}

.title {
  color: #252525;
  margin-bottom: 0.8125rem;
}

.title > button {
  color: #e0e0e0;
  margin-left: 0.25rem;
}

.access {
  border-top: 1px solid #e0e0e0;
  color: black;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    margin: 0;
    position: static;
  }

  .scroll {
    overflow-y: auto;
  }
}
