.wrapper {
  background: white;
  border-left: 1px solid #e0e0e0;
  color: #6a6a6a;
  font-size: 0.9375rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin: 1rem 0 0 -1rem;
  position: absolute;
  width: 100%;
  left: 100%;
  top: 0;
  z-index: 9;
}

.wrapper.is-left-aligned {
  left: -100%;
  margin-left: 1rem;
}

.wrapper ul {
  margin-bottom: 1rem;
}

.scroll {
  overflow-y: scroll;
  padding: 0.875rem;
}

.title {
  color: #252525;
  margin-bottom: 0.8125rem;
}

.title > button {
  color: #e0e0e0;
}

.matrix {
  align-items: center;
  display: flex;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.matrix > div:first-child {
  border-radius: 2rem;
  border: 1px solid #e0e0e0;
  line-height: 1.8rem;
  margin-right: 0.5rem;
  text-align: center;
  min-width: 2rem;
  height: 2rem;
}

.learningObjective {
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
}

.developmentGoal {
  margin: 0 0.5rem 0.5rem 0;
}

.access {
  border-top: 1px solid #e0e0e0;
  color: #000;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
}
