.wrapper {
  composes: row from global;
  min-height: 32rem;
  text-align: center;
}

.wrapper > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper p {
  margin-bottom: 1rem;
}

.wrapper button {
  margin-left: auto;
  margin-right: auto;
}
