@import "~variables.scss";
@import "~tools.scss";

.h1 {
  font-size: 2.5rem;
  margin-bottom: 0.8125rem;
  margin-top: 1.6875rem;
}

.h2 {
  font-weight: normal;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.list {
  background-color: $grey-100;
}

.results {
  composes: container from global;
  padding: 1rem 0;
}

.results > ul > li {
  position: relative;
}

.center {
  margin-bottom: 1.5rem;
  text-align: center;
}

.load {
  composes: btn from global;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .h1 {
    font-size: 2.125rem;
    margin-bottom: 0.75rem;
  }
}
