@import '../../variables';
@import '../../tools';

.header {
  padding: rem(16);
}

.rowName {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(23);
}

.photoAndName {
  align-items: center;
  display: flex;

  > h2 {
    font-size: rem(20);
    line-height: rem(24);
    margin-left: rem(15);
  }
}

.rowNumbers {
  align-items: flex-start;
  color: $grey-600;
  display: flex;
  font-size: rem(11);
  justify-content: space-between;
  line-height: rem(18);
  margin-bottom: rem(22);
  
  > div {
    border-left: 1px solid $grey-200;
    padding-left: rem(24);
    padding-right: rem(24);
    
    &:first-child {
      border-left: 0;
      padding-left: rem(10);
    }

    > em {
      color: black;
      display: block;
      font-size: rem(18);
      font-style: normal;
    }
  }
}

.contents {
  background-color: $grey-100;
  padding: rem(20) rem(16) rem(42) rem(16);

  > h3 {
    font-size: rem(15);
    font-weight: 600;
    line-height: rem(24);
    margin-bottom: rem(17);
  }
}
