@import '../../variables';
@import '../../tools';

.wrapper {
  padding: rem(15);
  padding-bottom: rem(72);
}

.center {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: rem(40);
}

.initial,
.photo {
	border-radius: 50%;
	margin-bottom: rem(8);
	width: rem(100);
  height: rem(100);
}

.photo {
	object-fit: cover;
}

.initial {
	align-items: center;
	background-color: #3bd2da;
	color: white;
	display: flex;
	font-size: rem(34);
	font-weight: 600;
	justify-content: center;
}

.actions {
	color: $grey-600;
	font-size: rem(15);
	font-weight: bold;
	
	> button {
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		text-decoration: underline;
		text-transform: lowercase;
	}

	> span {
		margin: 0 rem(8);
	}
}

.field {
	margin-bottom: rem(30);
}

.obs {
	color: $grey-600;
	font-size: rem(13);
	line-height: rem(24);

	> a {
		color: inherit;
		text-decoration: underline;
	}
}
