@import '~variables.scss';
@import '~tools.scss';

.overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 130;
}

.confirm {
  background: white;
  border-radius: rem(4);
  color: black;
  font-size: rem(18);
  line-height: rem(22);
  margin: rem(16);
  padding: rem(46) rem(32) rem(34) rem(32);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: rem(345);

  > p {
    margin-bottom: rem(14);

    > strong {
      font-weight: 600;
    }
  }
}

.close {
  color: black;
  font-size: rem(18);
  position: absolute;
  right: rem(10);
  top: rem(10);
}

.btnYes,
.btnNo {
  composes: btnFullWidth from global;
}

.btnYes {
  margin-top: rem(28);
  margin-bottom: rem(10);
}

.btnNo {
  background-color: $grey-200;
}
