@import "~variables.scss";
@import "~tools.scss";

.button {
  composes: btn from global;
  display: inline-block;
  margin: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .button {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }
}
