@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  padding: rem(16);
  
  .btn {
    color: black !important;
    display: block;
    font-size: rem(18);
    font-weight: bold;
    line-height: rem(36);
    margin-top: rem(20);
    text-decoration: none;
  }

  .btnSmall {
    color: $grey-600;
    display: block;
    font-size: rem(16);
    font-weight: 600;
    line-height: rem(22);
    margin-left: rem(20);
    margin-top: rem(14);
  }

  > hr {
    margin: rem(24) rem(-15);
  }
}

.close {
  position: absolute;
  right: rem(15);
  top: rem(13);
}

.login {
  > h3 {
    color: black;
    font-size: rem(16);
    font-weight: 600;
    line-height: rem(22);
    margin-bottom: rem(17);
  }

  .obs {
    color: $grey-600;
    font-size: rem(13);
    line-height: rem(18);

    a {
      color: $grey-600;
      text-decoration: underline;
    }
  }
}

.btnLogin {
  composes: btn from global;
  background-color: $color-turquoise;
  border: 0 !important;
  color: white !important;
  margin-bottom: rem(14);
}
