@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  background: white;
  border-top: 1px solid $grey-200;
  display: flex;
  justify-content: center;
  padding: rem(12);
  position: relative;
  z-index: 80;
}

.button {
  composes: btn from global;
  font-size: rem(15);
  padding: rem(18) rem(26);
}
