.wrapper {
  
}

.wrapper h4 {
  font-size: 2.125rem;
  margin-top: 3rem;
  margin-bottom: 1.5625rem;
  text-align: center;
}

.wrapper ul {
  list-style: none;
}

.header {
  align-items: flex-end;
  composes: container from global;
  display: flex;
  justify-content: space-between;
  padding-top: 1.875rem;
  padding-bottom: 1rem;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.header ul {
  display: flex;
  margin-bottom: 2.375rem;
}

.duration {
  align-items: center;
  color: #6a6a6a;
  display: flex;
  font-size: 1.125rem;
  font-weight: normal;
}

.duration > strong {
  color: black;
  font-weight: 600;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.details {
  composes: container from global;
  font-size: 0.9375rem;
  padding-top: 1rem;
  padding-bottom: 1.3125rem;
}

.title {
  color: #252525;
  font-weight: 600;
  margin-bottom: 0.8125rem;
}

.title > button {
  color: #e0e0e0;
  margin-left: 0.25rem;
}

.image {
  margin-top: 1.25rem;
  margin-bottom: 2.1875rem;
  width: 100%;
  height: auto;
}

.description {
  font-size: 1.125rem;
  margin-left: 12rem;
  margin-right: 12rem;
}

@media only screen and (max-width: 768px) {
  .header {
    padding-top: 1.6875rem;
  }

  .header h1 {
    font-size: 2.125rem;
    margin-bottom: 1.125rem;
  }

  .header ul {
    flex-direction: column;
    margin-bottom: 1.875rem;
  }

  .header > button {
    display: none;
  }

  .image {
    margin-bottom: 1.25rem;
  }

  .description {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper h4 {
    font-size: 1.75rem;
    margin-top: 1.9375rem;
    margin-bottom: 0.5rem;
  }
}
