@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  h4 {
    font-size: rem(20);
    font-weight: 600;
    margin-top: 1.9375rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  ul {
    list-style: none;
  }
}

.header {
  p {
    color: $grey-500;
    font-size: rem(15);
    margin-bottom: rem(4);
  }

  h1 {
    font-size: rem(24);
    line-height: rem(33);
    margin-bottom: rem(12);
  }
}

.banner {
  margin-bottom: rem(12);
  position: relative;
  width: 100%;
  height: rem(190);

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    position: absolute;
    left: rem(15);
    bottom: rem(14);
  }
}

.image {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.duration {
  align-items: center;
  color: $grey-200;
  font-size: rem(12);
  display: flex;
  justify-content: center;
  position: absolute;
  right: rem(17);
  bottom: rem(13);

  > img {
    margin-right: rem(8);
  }

  > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > em {
      color: white;
      font-size: rem(14);
      font-style: normal;
    }
  }
}

.info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: rem(15);
  padding-right: rem(15);
}

.btnSave {
  align-items: center;
  color: $grey-600;
  display: flex;
  flex-direction: column;
  font-size: rem(12);
  justify-content: center;

  > img {
    margin-bottom: rem(4);
  }
}

.btnInfo {
  composes: btn from global;
  justify-content: center;
  margin: 0 rem(15) rem(40) rem(15);
}

.btnPrint {
  composes: btn from global;
  display: none !important;
}

.title {
  color: $grey-800;
  font-weight: 600;
  margin-bottom: 0.8125rem;

  > button {
    color: $grey-200;
    margin-left: 0.25rem;
  }
}

.description {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: rem(48);
}

.books br {
  line-height: 200%;
}

@include mq("tablet-portrait") {
  .btnPrint {
    display: flex !important;
  }

  .wrapper h4 {
    font-size: 2.125rem;
    margin-top: 3rem;
    margin-bottom: 1.5625rem;
    text-align: center;
  }

  .description {
    font-size: 1.125rem;
    margin-top: 2.1875rem;
    margin-left: 12rem;
    margin-right: 12rem;
  }
}
