@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  h4 {
    font-size: rem(20);
    font-weight: 600;
    margin-top: 1.9375rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }

  ul {
    list-style: none;
  }
}

.btnChars {
  composes: btnFullWidth from global;
  margin-bottom: rem(40);
}

.title {
  color: $grey-800;
  font-weight: 600;
  margin-bottom: 0.8125rem;

  > button {
    color: $grey-200;
    margin-left: 0.25rem;
  }
}

.description {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: rem(48);
}

.books br {
  line-height: 200%;
}

.chars {
  background-color: $grey-050;
  display: none;
}

@include mq("tablet-landscape") {
  .wrapper h4 {
    font-size: 2.125rem;
    margin-top: 3rem;
    margin-bottom: 1.5625rem;
    text-align: center;
  }

  .btnChars {
    display: none;
  }

  .description {
    font-size: 1.125rem;
    margin-top: 2.1875rem;
  }

  .chars {
    display: block;
  }
}
