.wrapper {
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  color: #252525;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  position: relative;
  z-index: 60;
}

.logo {
  align-items: center;
  color: #252525;
  display: flex;
}

.logo img {
  margin-right: 0.8125rem;
}

.logo h1 {
  font-size: 1.125rem;
  margin-bottom: 0;
  max-width: 12rem;
}

.menu {
  margin-right: -0.9375rem;
}

.menu > a {
  color: black;
  font-size: 0.9375rem;
  font-weight: bold;
  padding: 0 0.9375rem;
  text-decoration: none;
  text-transform: uppercase;
}

.menu > a.sub,
.toggler,
.close {
  display: none;
}

.close {
  position: absolute;
  right: 1.125rem;
  top: 1.125rem;
}

:global(.isHome) .wrapper {
  border-bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

:global(.isHome) .wrapper,
:global(.isHome) .menu > a,
:global(.isHome) .logo {
  color: white;
}

:global(.hasScrolled) .wrapper {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 110;
  animation: animScrolled 0.5s ease-in-out;
}

:global(.hasScrolled) .wrapper,
:global(.hasScrolled) .menu > a,
:global(.hasScrolled) .logo {
  color: #252525;
}

@keyframes animScrolled {
  from { top: -5rem; }
  to { top: 0; }
}

@media only screen and (max-width: 1120px) {
  .wrapper {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .toggler,
  .close {
    display: block;
  }

  .menu {
    background: white;
    overflow-y: auto;
    padding: 3.875rem 1rem 1rem 1rem;
    position: fixed;
    width: 100%;
    left: 100%;
    top: 0;
    bottom: 0;
    transition: left 0.3s ease-in-out;
    z-index: 100;
  }

  .menu > a {
    color: black !important;
    display: block;
    font-size: 1.75rem;
    margin-top: 2.25rem;
    text-transform: none;
  }

  .menu > a.sub {
    color: #6a6a6a;
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    margin-left: 1.25rem;
    margin-top: 0.875rem;
  }

  .isMenuExpanded {
    left: 0;
  }
}

@media only print {
  .wrapper {
    border-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .menu {
    display: none;
  }
}
