@import '~variables.scss';
@import '~tools.scss';

* {
  box-sizing: border-box;
}

html,
body,
:global(#root) {
  height: 100%;
}

html,
body,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}

ul,
ol,
li {
  margin-left: 0;
  padding-left: 0;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
}

button:focus {
  outline: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid $grey-200;
  margin: 0;
}

a:hover {
  color: black;
}

:global(.btn),
:global(.btnFullWidth) {
  border: 1px solid $grey-200;
  border-radius: rem(4);
  color: black;
  display: flex;
  font-size: rem(12);
  font-weight: bold;
  justify-content: center;
  line-height: rem(16);
  padding: rem(14) rem(16);
  text-transform: uppercase;

  > i,
  > img {
    margin-right: rem(8);
  }

  @include mq('tablet-landscape') {
    font-size: rem(15);
    line-height: rem(20);
    padding: rem(18) rem(26);
  }
}

:global(.btnFullWidth) {
  width: 100%;
}

:global(.tooltip) {
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 1.15;
  max-width: 15rem;
  padding: 0.8125rem 1.25rem;

  > strong {
    display: block;
    font-size: 0.9375rem;
    font-weight: normal;
    margin-bottom: 1rem;
  }
}

:global(.ql-image) {
  width: 100%;
}

:global(.ql-video-wrapper) {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

:global(.quill-text) {
  font-size: rem(16);
  line-height: rem(21);

  h1 {
    font-size: 1.875rem;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 1.3125rem;
  }
  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: rem(16);
    line-height: rem(36);
    margin-bottom: rem(8);
  }

  hr {
    margin: 2rem 0;
  }

  blockquote {
    background-color: #e0e0e0;
    border-radius: 0.25rem;
    font-style: italic;
    margin-top: 2.1875rem;
    margin-bottom: 2.1875rem;
    padding: 1.25rem;
  }

  ul,
  ol {
    list-style: none;

    > li {
      margin-bottom: rem(16);
      padding-left: rem(24);
      text-indent: rem(-24);
    }
  }

  ol {
    counter-reset: ol-counter;

    > li {
      counter-increment: ol-counter;
    }
  }

  ul > li:before {
    color: $grey-600;
    content: '\2022';
    display: inline-block;
    margin-right: rem(22);
    text-indent: 0;
  }

  ol > li:before {
    content: counter(ol-counter) '. ';
    display: inline-block;
    margin-right: rem(11);
    text-indent: 0;
  }

  br {
    content: '';
    display: block;
    margin-bottom: 1.5rem;
  }

  a {
    color: black;
    text-decoration: underline;
  }
}

:global(.source) {
  color: $grey-600;
  font-size: rem(13);
  line-height: rem(21);

  > em {
    font-style: normal;
    text-decoration: underline;
  }
}
