* {
  box-sizing: border-box;
}

html,
body,
button,
input,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}

ul,
ol,
li {
  margin-left: 0;
  padding-left: 0;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: 0;
}

hr {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 0;
}

a:hover {
  color: black;
}

body.hasPopup {
  overflow-y: hidden;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  color: black;
  display: flex;
  font-size: 0.9375rem;
  font-weight: bold;
  padding: 1.125rem 1.625rem;
  text-transform: uppercase;
}

.btn > i,
.btn > img {
  margin-right: 0.5rem;
}

.tooltip {
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 1.15;
  max-width: 15rem;
  padding: 0.8125rem 1.25rem;
}

.tooltip > strong {
  display: block;
  font-size: 0.9375rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
}

.modal {
  background: white;
  border-radius: 0.25rem;
  color: black;
  font-size: 1.125rem;
  max-width: 22rem;
  margin: 2.5rem;
  padding: 2.5rem 2rem;
  position: fixed;
}

.modal > button {
  color: black;
  font-size: 1.125rem;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
}

.modal > p {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0;
}

.modal > p > img {
  color: #6a6a6a;
  font-size: 1.5625rem;
  margin-right: 0.5rem;
}

.ql-image { width: 100%; }

.quill-text h1,
.quill-text h2,
.quill-text h3,
.quill-text h4 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.quill-text h1:first-child,
.quill-text h2:first-child,
.quill-text h3:first-child,
.quill-text h4:first-child {
  margin-top: 0;
}

.quill-text h1 { font-size: 1.875rem; margin-bottom: 2rem; }
.quill-text h2 { font-size: 1.3125rem; }
.quill-text h3 { font-size: 1.125rem; }
.quill-text h4 { font-size: 1rem; }
.quill-text hr { margin: 2rem 0; }

.quill-text blockquote {
  background-color: #e0e0e0;
  border-radius: 0.25rem;
  font-style: italic;
  margin-top: 2.1875rem; 
  margin-bottom: 2.1875rem; 
  padding: 1.25rem;
}

.quill-text ol,
.quill-text ul {
  list-style-position: inside;
}

.quill-text li {
  margin-bottom: 0.5rem;
}

.quill-text ul li:before {
  content: '\2013';
  display: inline-block;
  margin-right: 0.25rem;
}

.quill-text br {
  content: '';
  display: block;
  margin-bottom: 1.5rem;
}
