@import '~variables.scss';
@import '~tools.scss';

.wrapper {
  ul {
    list-style: none;
  }
}

.title {
  color: $grey-800;
  font-weight: 600;
  margin-bottom: 0.8125rem;

  > button {
    color: $grey-200;
    margin-left: 0.25rem;
  }
}

.btnAllLearningObjectives {
  color: $grey-600;
  display: block;
  font-size: 0.9375rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
}

.btnPrint {
  composes: btn from global;
  display: none;
}

@include mq("tablet-landscape") {
  .btnAllLearningObjectives {
    margin-bottom: 0;
  }

  .btnPrint {
    display: flex;
  }
}
